.movies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.movie-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  border: 3px solid #48148c;
  max-width: 90%;
  width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

#h1-ranking {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.ranking-number {
  position: absolute;
  top: -12px;
  left: -12px;
  width: 50px;
  height: 50px;
  background-color: #48148c;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
